header{
    display: flex;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAF9;
}

header{
    color: #fff;
    text-align: center;
    padding: 1em;
}

.postEditor {
    max-width: 800px;
    padding: 20px;
    background-color: #FAFAF9;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #59485a;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #59485a;
}
#posts{
    max-width: 800px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.post {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
}
.post h2 {
    color: #000;
    font-size: 20px;
}
.post ul {
    margin: 0;
    padding: 0;
}
.post ul li {
    list-style: none;
    display: inline-block;
}
.post ul li a {
    color: #000;
    text-decoration: none;
}
.post ul {
    margin: 0;
    padding: 0;
}

.post ul li {
    list-style: none;
    display: inline-block;
}

.post ul li a {
    color: #000;
    text-decoration: none;
}

.post a.btn {
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid rgba(4,4,4,.1);
    border-radius: 5px;
}
.bookmark-sidebar {
    background-color: #FAFAF9;
    padding: 20px 30px;
    width: 370px;
    float: right;
}
.postEditor{
    width: calc(100% - 370px);
    float: left;
    max-width: 800px;
    padding: 20px;
}
.bookmarkDiv{
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
}
.bookmark h2 a{
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 0;
}
.bookmark p{
    font-size: 16px;
    color: rgba(0,0,0,.8);
    margin: 0;
}
span.number {
    position: absolute;
    left: 0;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-weight: 900;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    text-align: center;
    top: 0;
    line-height: 25px;
}